.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #FAF8F1;
}

.calculator {
    border: solid 3px black;
    border-radius: 8px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #FAEAB1;
}

.display {
    border: solid 2px black;
    border-radius: 4px;
    margin: 5px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: end;
    height: 65px;
    background-color: #FFFBE9;
}

.bottom {
    font-size: 38px;
}

.top {
    font-size: 18px;
}

button {
    height: 65px;
    width: 65px;
    margin: 5px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #FFFBE9;
}

button:hover {
    background-color: #F4EAD5;
}

.allClear {
    background-color: #FFCAC8;
}

.allClear:hover {
    background-color: #F7A4A4;
}

.equals {
    background-color: #BAD1C2;
}

.equals:hover {
    background-color: #4FA095;
}

.operator {
    background-color: #E1FFEE;
}

.operator:hover {
    background-color: #A5F1E9;
}